{% load staticfiles %}
<meta Charset="utf-8">

<div id="main" style="height:400px"></div>
 <script src="{% static 'polls/build/dist/echarts.js' %}"></script>
	 <script type="text/javascript">
        
        require.config({
            paths: {
                echarts: '{% static 'polls/build/dist' %}' 
            }
        });

		  
        require(
            [
                'echarts',
                'echarts/chart/bar' 
            ],
            function (ec) {
                
                var myChart = ec.init(document.getElementById('main')); 
                
                var option = {
                    tooltip: {
                        show: true
                    },
                    legend: {
                        data:['ss']
                    },
                    xAxis : [
                        {   
                     
                        
                            type : 'category',
                            data :[{% for q in question %}
                                    "{{q.question_test}}",
                                  {%endfor%}
                                   
                                   ]
                        
                         
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {
                            "name":"ss",
                            "type":"bar",
                            "data":{{ls}}
                            
                        }
                    ]
                };
        
                
                myChart.setOption(option); 
            }
        );
    </script>
